<%- include('head.ejs') %>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Warehouse</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse me-auto"
                id="navbarNavDropdown"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/suppliers">Penyuplai</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/warehouse">Gudang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stock">Stok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/time">Waktu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
