<%- include('../partials/header.ejs') %>
<div class="container py-5 pb-5">
    <div class="row">
        <div class="col-md-8 justify-content-center align-items-center mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Buat Produk Gudang</h3>
                </div>
                <div class="card-body">
                    <form action="/products" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nama Produk</label>
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="product_name"
                                name="product_name"
                                placeholder="Masukan nama produk..."
                                autocomplete="off"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"
                                >Kategori Produk</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="category"
                                name="category"
                                placeholder="Masukan kategori produk..."
                                autocomplete="off"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"
                                >Brand Produk</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="brand"
                                name="brand"
                                placeholder="Masukan brand produk..."
                                autocomplete="off"
                            />
                        </div>

                        <% if (message) { %>
                        <p class="text-danger font-semibold"><%= message %></p>
                        <% } %>

                        <button type="submit" class="btn btn-primary mt-2">
                            Kirim
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
