<%- include('../partials/header.ejs') %>
<div class="container py-5 pb-5">
    <div class="row">
        <div class="col-md-8 justify-content-center align-items-center mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Buat Supplier Gudang</h3>
                </div>
                <div class="card-body">
                    <form action="/suppliers" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1"
                                >Nama Supplier</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="supplier_name"
                                name="supplier_name"
                                placeholder="Masukan nama supplier..."
                                autocomplete="off"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"
                                >Kontak Person</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="contact_person"
                                name="contact_person"
                                placeholder="Masukan kontak supplier..."
                                autocomplete="off"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"
                                >Kontak Email</label
                            >
                            <input
                                type="text"
                                class="form-control mt-2 mb-2"
                                id="contact_email"
                                name="contact_email"
                                placeholder="Masukan kontak email supplier..."
                                autocomplete="off"
                            />
                        </div>

                        <% if (message) { %>
                        <p class="text-danger font-semibold"><%= message %></p>
                        <% } %>

                        <button type="submit" class="btn btn-primary mt-2">
                            Kirim
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
